.calendar-wrapper{
  height: calc(100% - 70px);
  overflow-y:auto;
}
.calendar{
  height: calc(100% - 56px);
  max-height:756px;
  min-height:500px;
  display: flex;
  flex-direction: column;
  align-content: stretch;
  background:$white;
  border-radius: 4px;
  @include box-shadow();

  &.rows-7 .calendar-row{
    height:16%;
  }
  &.rows-6 .calendar-row{
    height:19.2%;
  }
  &.rows-5 .calendar-row{
    height:24%;
  }
  .calendar-row{
    border-bottom:1px solid $lightGray;

    &.calendar-header{
      height:4%;
      border-bottom:none;
      font-weight:700;

      span{
        display:none;
      }
      .calendar-day{
        padding-bottom:0;
      }
    }
    .calendar-day{
      height:100%;
      width:14.285714285714%;
      float:left;
      padding:10px;
      cursor:pointer;
      color:$darkGray;
      overflow:hidden;

      &:hover, &:active, &:focus, &:visited{
        color:$darkGray;
        text-decoration:none;
      }
      &.inactive{
        opacity:0.5;
      }
      .calendar-date{
        font-size:14px;
        padding-left:4px;
      }
      .current{

        .calendar-date{
          padding-left:0;
          padding-top:1px;
          background:$orange;
          border-radius:50%;
          color:$white;
          display: block;
          width: 22px;
          text-align: center;
          margin-top:-1px;
          margin-left:-2px;
        }
      }
      .calendar-meal{
        background:$green;
        border-radius: 4px;
        margin-top:3px;
        padding: 1px 5px;
        min-height:10px;

        &.meal-theme{
          background:$darkGreen;
        }
      }
      .calendar-meal-hunger{
        display:none;
      }
    }
  }
  .day-ellipsis{
    display:none;
    height:10px;
    margin-top:3px;

    .ellipsis-dot{
      width:6px;
      height:6px;
      background:$mediumGray;
      border-radius:50%;
      margin-left:2px;
      display:block;
      float:left;

      &:first-child{
        margin-left:0;
      }
    }
  }
  .calendar-meal.truncate + .day-ellipsis{
    display:block;
  }
}

@media only screen and (min-width: 450px) {
  .calendar{
    .calendar-row{
      min-height:140px;

      &.calendar-header{
        min-height:30px;
      }
      .calendar-day .calendar-meal-hunger{
        display:flex;
        display:flex;
        justify-content: space-between;
        color:$white;
      }
    }
  }
}


@media only screen and (min-width: $sm) {
  .calendar{
    max-height:898px;
  }
}


@media only screen and (min-width: $md) {
  .calendar{
    max-height:100%;
  }
}