#main-header{
  padding-bottom:10px;
  border-bottom:1px solid $lightGray;
}
a.logo{
  display:block;
  width:40px;
  height:40px;
  background:$darkGreen;
  border-radius:50%;
  position:relative;
  margin-top:10px;

  &:after{
    content:'';
    background:$green;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    margin:auto;
    width:50%;
    height:50%;
    border-radius:50%;
  }
}

.main-menu-hamburger-wrapper{
  text-align:right;
  padding-top:5px;
}
.main-menu-hamburger{
  @include font-size(50);
  @include line-height(52);
  cursor:pointer;
  color:$mediumGray;
  display: block;
  
  &:hover, &:active, &:focus, &:visited{
    color:$mediumGray;
  }
}
.main-menu-wrapper{
  display:none;
}

@media only screen and (min-width: $md) {
  #main-header{
    padding-bottom:45px;
  }
  .main-menu-hamburger-wrapper{
    display:none;
  }
  .main-menu-wrapper{
    display:block;

    nav{
      text-align:right;
      padding-top: 8px;

      ul{
        li{
          display:inline-block;
          vertical-align:top;
          position:relative;

          &:first-child{
            margin-left:0;
          }
          &:last-child ul{
            width:200px;
          }
          a{
            display:block;
            text-transform: uppercase;
            font-weight:600;
            @include font-size(15);
            @include line-height(17);
            padding:15px;
            cursor:pointer;
            color:$mediumGray;

            &:hover, &:active, &:focus{
              color:$mediumGray;
              text-decoration:none;
              opacity:0.6;
            }
          }
          &.nav-dropdown-item{
            position:relative;
            z-index:10;

            .dropdown-label{
              position:relative;
              color:$mediumGray;
              cursor:pointer;
              @include font-size(15);
              @include line-height(17);
              padding:15px 30px 15px 15px;
              text-transform: uppercase;
              font-weight:600;

              &:before{
                position:absolute;
                right:15px;
                top:5px;
                top: 17px;
                @include font-size(12);
              }
            }

            &:hover, &:active, &:focus{
              background:$mediumGray;
              color:$white;

              .dropdown-label{
                color:$white;
              }
              ul{
                display:block;
              }
            }
          }
          ul{
            display:none;
            position:absolute;
            top:47px;
            right:0;
            min-width:100%;

            li{
              display:block;

              a{
                background:$mediumGray;
                color:$white;

                &:hover, &:active, &:focus{
                  color:$white;
                  background:$darkGray;
                  opacity:1;
                }
              }
            }
          }
        }
      }
    }
  }
}