a.log-cta{
  width:75px;
  height:75px;
  background:$darkGreen;
  border-radius:50%;
  color:$white;
  text-align:center;
  @include font-size(50);
  @include line-height(84);
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12), 0 3px 1px -2px rgba(0,0,0,.2);
  position:fixed;
  bottom:30px;
  right:30px;
  cursor:pointer;
}
.meal-summary-wrapper{
  margin:0;
  padding-bottom:100px;

  .row{
    margin-left:0;
    margin-right:0;
  }
}
.meal-card{
  padding-left:0;
  padding-right:0;
  margin-bottom:75px;
  background:$white;
  border-radius: 4px;
  @include box-shadow();

  h3{

  }
  header{
    background:$darkGreen;
    color:$white;
    display:flex;
    justify-content:space-between;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;

    h2{
      flex:0 1 30%;
      text-align:right;
      @include font-size(22);
      @include line-height(26);
      font-weight:400;
      padding: 12px 0;

      &:last-child{
        flex:0 1 70%;
        padding-right:30px;
      }
    }
  }
  main{
    @include font-size(18);
    @include line-height(24);

    .meal-card-section{
      display:flex;
      justify-content:space-between;
      padding-top:10px;
      padding-bottom:10px;

      &.chip-wrapper{
        margin-top:7px;

        .meal-card-value{
          margin-top:-7px;
        }
      }
    }
    .chip{
      padding-right:7px;
      background:$orange;
    }
    h3{
      @include font-size(18);
      @include line-height(24);
      flex:0 1 30%;
      text-align:right;
    }
    .meal-card-value{
      flex:0 1 70%;
      padding-left:30px;
      padding-right:30px;
    }
    .hunger-section{
      border-bottom:1px solid $lightGray;
      padding-top:20px;
      padding-bottom:20px;
      margin-bottom:10px;
      @include font-size(24);
      @include line-height(30);

      h3{
        margin-top: auto;
        margin-bottom: auto;
      }
      .hunger-start{
        display:inline-block;
        vertical-align:top;
        width:45%;
      }
      .hunger-end{
        display:inline-block;
        vertical-align:top;
        width:45%;
        text-align:right;
      }
      .hunger-start-index{
        display:inline-block;
        vertical-align:middle;
        font-weight:600;
      }
      .hunger-icon{
        display:inline-block;
        vertical-align:middle;
        margin:0 0 0 10px;
      }
      .hunger-end-index{
        display:inline-block;
        vertical-align:middle;
        font-weight:600;
      }
      .hunger-divider{
        display:inline-block;
        vertical-align:middle;
        width:10%;
        text-align:center;
      }
    }
  }
  footer{
    margin-left:0;
    margin-right:0;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    padding:15px;
    width:70%;
    float:right;
    text-align:right;
  }
}