main.drawer-open{
  overflow:hidden;
}
.drawer-wrapper{
  position:fixed;
  width:100%;
  height:100%;
  right:-100%;
  top:0;
  z-index:20;

  .drawer{
    position:fixed;
    width:100%;
    height:100%;
    background:$white;
    right:-100%;
    top:0;
    -webkit-transition: right 250ms ease;
    -moz-transition: right 250ms ease;
    -o-transition: right 250ms ease;
    -ms-transition: right 250ms ease;
    transition: right 250ms ease;
    z-index:21;

    &.hunger-scale-drawer{
      background:$lightGray;
    }
  }
  &.active{
    right:0;

    .drawer{
      right:0;
    }
  }
  a{
    cursor:pointer;
    display:block;
  }
}
.nav-drawer-section{
  padding-left:30px;
  padding-bottom:30px;
  border-bottom:1px solid $lightGray;

  ul{
    li{
      padding-top:30px;
      @include font-size(18);
      @include line-height(24);

      span{
        display:inline-block;
        vertical-align:middle;

        &:before{
          @include font-size(30);
          margin-right:15px;
          display:inline-block;
          vertical-align:middle;
        }
      }
      a.ion-android-close:before{
        @include font-size(27);
        margin-left: 5px;
      }
    }
  }
}


.hunger-scale-drawer-section{

  &:first-child{
    padding-bottom:15px;
  }
  a.ion-android-close:before{
    @include font-size(32);
    margin-left: 5px;
    color:$mediumGray;

    &:hover, &:active, &:focus, &:visited{
      color:$mediumGray;
    }
  }
}


@media only screen and (min-width: $sm) {
  .drawer-wrapper{
    background:rgba(148,151,148,0.4);

    .hunger-scale-drawer{
      max-width:400px;
      height:auto;
      top: 50%;
      transform: translateY(-50%);
      border-radius: 4px;
      @include box-shadow();
      padding: 8px 15px 25px 15px;

      .container{
        max-width:100%;
      }
    }
    &.active .hunger-scale-drawer{
      left:0;
      margin:auto;
    }
  }
  .hunger-scale-drawer-section{
    position:relative;

    &:first-child{
      padding-bottom:0;
    }

    a.ion-android-close{
      padding-bottom:32px;

      &:before{
        position:absolute;
        left:auto;
        right:0;
      }
    }
  }
}