.profile{

  .profile-header{
    padding-top:15px;
    position:relative;
    padding-bottom:15px;

    .avatar{
      display:block;
      margin:0 auto;
    }
    h1{
      @include line-height(30);
      @include font-size(24);
      text-align:center;
      font-weight:600;
      padding:15px 0 30px 0;
      color:$darkGray;
      text-transform:uppercase;
    }
    .settings-link{
      @include font-size(26);
      display:block;
      position:absolute;
      top:12px;
      right:0;
      
      &:before{
        display:block;
      }
    }
  }
  .streak{
    text-align:center;
    padding:20px;
    background:$white;
    @include box-shadow();

    h2{
      @include line-height(18);
      @include font-size(16);
      color:$mediumGray;
      max-width: 150px;
      margin: 0 auto;
    }
    .streak-number{
      @include line-height(50);
      @include font-size(38);
      font-weight:700;

      span{
        @include font-size(18);
        font-weight:400;
      }
    }
  }
  .stat-row{
    padding:30px 15px;

    .stat{
      display:flex;
    }
    h2{
      padding-bottom:7px;
      @include font-size(16);
      @include line-height(24);
    }
    h3{
      @include line-height(56);
      @include font-size(48);
      font-weight:700;

      span{
        @include font-size(18);
        font-weight:400;
      }
    }
    .hunger-icon{
      padding-top:6px;
      padding-left:13px;
    }
    .chip-wrapper{
      padding-top:9px;
    }
  }
}
.stat-tabber{
  text-align:center;
  padding-top:15px;
  margin-bottom:40px;

  .tab{
    display:inline-block;
    vertical-align:bottom;
    width:50%;
    border-bottom:1px solid $mediumGray;
    padding-bottom:1px;
    color:$mediumGray;
    font-weight:400;
    cursor:pointer;

    &.active{
      border-bottom:2px solid $green;
      padding-bottom:0;
      color:$green;
      font-weight:600;
    }
    .tab-title{
      padding:45px 0 7px;
      @include font-size(20);
      @include line-height(24);
      text-transform:uppercase;
    }
  }
}
.tab-content{
  display:none;

  &.active{
    display:block;
  }
}