@import url('https://fonts.googleapis.com/css?family=Nunito:300,600,700');

$xxs: 480px;
$xs: 640px;
$sm: 768px;
$md: 992px;
$lg: 1200px;

/***** MIXINS *****/
$white:#ffffff;
$green:#106a21;
$darkGreen:#083510;
$orange:#EA9E19;
$pink:#DDAACC;
$magenta:#992277;
$lightGray:#D7DDD8;
$darkGray:#111011;

/***** MIXINS *****/
@mixin box-shadow(){
  box-shadow: 0 0 8px rgba(120, 120, 120, 0.6)  ; 
  -webkit-box-shadow: 0 0 8px rgba(120, 120, 120, 0.6)  ; 
  -moz-box-shadow: 0 0 8px rgba(120, 120, 120, 0.6)  ; 
}

@mixin font-size($sizeValue: 12 ){
  font-size: $sizeValue + px;
  font-size: (0.0625 * $sizeValue) + rem;
}

@mixin line-height($heightValue: 20 ){
  line-height: $heightValue + px;
  line-height: (0.0625 * $heightValue) + rem;
}

/***** FUNCTIONS *****/
@function calc-percent($target, $container) {
  @return ($target / $container) * 100%;
}


/***** HUNGER ICONS *****/
@mixin hunger-icon($size, $type, $color){
  width:$size + px;
  height:$size + px;
  background:#d4d4d4;
  border-radius:50%;
  display:block;
  position:relative;

  &:before{
    content:'';
    height: $type;
    width: $type;
    background:$color;
    border-radius:50%;
    display:block;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    margin:auto;
    z-index:2;
  }
}