@import url('https://fonts.googleapis.com/css?family=Nunito:300,600,700');

$xxs: 480px;
$xs: 640px;
$sm: 768px;
$md: 992px;
$lg: 1200px;

/***** MIXINS *****/
$white:#ffffff;
$green:#3f874c; // #2A7A39
$darkGreen:#204927; //#083510
$orange:#eca72f; // #EA9E19
$yellow:#ffbc49; // #FFB535
$pink:#DDAACC;
$magenta:#992277;
$lightGray:#f1f3f2; // #e4e8e5
$mediumGray:#949794; //#898c89
$darkGray:#404240;
$red:#c34131; // #bd2c1b

/***** MIXINS *****/
@mixin box-shadow(){
  // box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12), 0 3px 1px -2px rgba(0,0,0,.2);
  box-shadow: 0 0 8px rgba(120, 120, 120, 0.2)  ; 
  -webkit-box-shadow: 0 0 8px rgba(120, 120, 120, 0.2)  ; 
  -moz-box-shadow: 0 0 8px rgba(120, 120, 120, 0.2)  ; 
}

@mixin font-size($sizeValue: 12 ){
  font-size: $sizeValue + px;
  font-size: (0.0625 * $sizeValue) + rem;
}

@mixin line-height($heightValue: 20 ){
  line-height: $heightValue + px;
  line-height: (0.0625 * $heightValue) + rem;
}

/***** FUNCTIONS *****/
@function calc-percent($target, $container) {
  @return ($target / $container) * 100%;
}


/***** HUNGER ICONS *****/
@mixin hunger-icon($size, $type, $color){
  width:$size + px;
  height:$size + px;
  background:$mediumGray;
  border-radius:50%;
  display:block;
  position:relative;

  &:before{
    content:'';
    height: $type;
    width: $type;
    background:$color;
    border-radius:50%;
    display:block;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    margin:auto;
    z-index:2;
  }
}