@import url("https://fonts.googleapis.com/css?family=Nunito:300,600,700");
/***** MIXINS *****/
/***** MIXINS *****/
/***** FUNCTIONS *****/
/***** HUNGER ICONS *****/
/***** BASE *****/
html, body {
  font-family: 'Nunito', sans-serif;
  height: 100%;
  font-size: 100%;
  color: #535453;
  font-weight: 300;
  background: #f1f3f2; }

#root, .sub-root {
  height: 100%; }

.main-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column; }

main {
  height: 100%;
  position: relative; }

footer {
  flex-shrink: 0; }

img {
  max-width: 100%; }

.clearfix:after {
  content: "";
  display: table;
  clear: both; }

*:focus {
  outline: none; }

@media only screen and (max-width: 480px) {
  .container {
    padding-left: 5px;
    padding-right: 5px; }
  .row {
    margin-left: -5px;
    margin-right: -5px; }
  .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    padding-left: 5px;
    padding-right: 5px; } }

.view-header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 18px; }
  .view-header h1 {
    color: #949794; }
    .view-header h1 span {
      font-size: 16px;
      font-size: 1rem;
      padding-left: 15px; }
  .view-header a {
    color: #949794;
    margin-top: auto;
    margin-bottom: auto; }
    .view-header a:hover, .view-header a:active, .view-header a:focus, .view-header a:visited {
      color: #949794; }
  .view-header a.disabled {
    color: #f1f3f2; }

@media only screen and (min-width: 992px) {
  .view-header {
    justify-content: center; }
    .view-header h1 {
      padding: 0 60px; } }

.log-cta-wrapper {
  position: fixed;
  bottom: 0;
  z-index: 10; }

a.log-cta {
  width: 75px;
  height: 75px;
  background: radial-gradient(#3f874c, #204927);
  border-radius: 50%;
  color: #ffffff;
  text-align: center;
  font-size: 50px;
  font-size: 3.125rem;
  line-height: 84px;
  line-height: 5.25rem;
  box-shadow: 0 0 8px rgba(120, 120, 120, 0.2);
  -webkit-box-shadow: 0 0 8px rgba(120, 120, 120, 0.2);
  -moz-box-shadow: 0 0 8px rgba(120, 120, 120, 0.2);
  position: absolute;
  bottom: 30px;
  right: 30px;
  cursor: pointer; }
  a.log-cta:hover, a.log-cta:active, a.log-cta:focus, a.log-cta:visited {
    color: #ffffff; }

@media only screen and (max-width: 768px) {
  .log-cta-wrapper {
    width: 100%; } }

a.cta-calendar, a.cta-back {
  display: block;
  position: absolute;
  left: 30px;
  bottom: 52px;
  color: #949794;
  font-weight: 600;
  font-size: 18px;
  font-size: 1.125rem; }
  a.cta-calendar:hover, a.cta-calendar:active, a.cta-calendar:focus, a.cta-calendar:visited, a.cta-back:hover, a.cta-back:active, a.cta-back:focus, a.cta-back:visited {
    color: #949794; }
  a.cta-calendar:before, a.cta-back:before {
    margin-right: 15px; }

.avatar {
  display: block;
  width: 120px;
  height: 120px;
  background: #949794;
  color: #f1f3f2;
  text-align: center;
  border-radius: 50%;
  font-size: 40px;
  font-size: 2.5rem;
  line-height: 120px;
  line-height: 7.5rem;
  position: relative;
  font-weight: 700; }
  .avatar:before {
    content: '';
    background: #3f874c;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 50%;
    height: 50%;
    border-radius: 50%;
    z-index: 1; }
  .avatar span {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 2; }

.tooltip {
  text-align: center;
  background: #949794;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  color: #ffffff;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 21px;
  line-height: 1.3125rem;
  font-weight: 500; }

.logo {
  font-weight: 400; }
  .logo span {
    font-weight: 600; }

h1 {
  font-size: 32px;
  font-size: 2rem;
  line-height: 38px;
  line-height: 2.375rem;
  font-weight: 600;
  margin: 0; }

h2 {
  font-size: 30px;
  font-size: 1.875rem;
  line-height: 36px;
  line-height: 2.25rem;
  font-weight: 600;
  margin: 0; }

h3 {
  font-size: 24px;
  font-size: 1.5rem;
  line-height: 30px;
  line-height: 1.875rem;
  font-weight: 600;
  margin: 0; }

h4 {
  font-size: 20px;
  font-size: 1.25rem;
  line-height: 26px;
  line-height: 1.625rem;
  font-weight: 600;
  margin: 0; }

h5 {
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 24px;
  line-height: 1.5rem;
  font-weight: 600;
  margin: 0; }

h6 {
  font-size: 16px;
  font-size: 1rem;
  line-height: 20px;
  line-height: 1.25rem;
  font-weight: 600;
  margin: 0; }

p {
  font-size: 16px;
  font-size: 1rem;
  line-height: 24px;
  line-height: 1.5rem; }

/***** LISTS *****/
ul {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-size: 1rem;
  line-height: 24px;
  line-height: 1.5rem; }

ol {
  margin: 0;
  padding-left: 17px;
  font-size: 16px;
  font-size: 1rem;
  line-height: 24px;
  line-height: 1.5rem; }

/***** LINKS *****/
a {
  color: #3f874c; }
  a:hover, a:active, a:focus {
    text-decoration: underline;
    color: #3f874c; }

.btn {
  border-radius: 100px;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 20px;
  line-height: 1.25rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  min-width: 175px;
  display: inline-block;
  vertical-align: top;
  padding: 16px 60px;
  text-align: center;
  border: 2px solid #3f874c;
  font-weight: 600;
  letter-spacing: 2px;
  border-radius: 4px; }
  .btn:hover, .btn:active, .btn:focus, .btn:visited {
    text-decoration: none; }
  .btn.btn-green {
    background-color: #3f874c;
    color: #ffffff; }
    .btn.btn-green:disabled {
      background-color: #949794;
      border-color: #949794;
      color: #ffffff; }
  .btn.btn-dark-green {
    background-color: #204927;
    border-color: #204927;
    color: #ffffff; }
    .btn.btn-dark-green:disabled {
      background-color: #949794;
      border-color: #949794;
      color: #ffffff; }
  .btn.btn-magenta {
    border-color: #992277;
    background-color: #992277;
    color: #ffffff; }
    .btn.btn-magenta:disabled {
      background-color: #949794;
      border-color: #949794;
      color: #ffffff; }
  .btn.btn-orange {
    border-color: #eca72f;
    background-color: #eca72f;
    color: #ffffff; }
    .btn.btn-orange:disabled {
      background-color: #f1f3f2;
      border-color: #f1f3f2;
      color: #ffffff; }
  .btn.btn-white {
    background-color: #ffffff;
    color: #535453;
    border-color: #535453; }
    .btn.btn-white:hover, .btn.btn-white:active, .btn.btn-white:focus {
      color: #ffffff;
      background-color: #535453;
      border-color: #535453; }

input[type=date]::-webkit-inner-spin-button, input[type=time]::-webkit-inner-spin-button, input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  display: none; }

input[type=date]::-webkit-calendar-picker-indicator {
  color: #3f874c;
  background: #ffffff;
  cursor: pointer;
  display: block; }

.toggle-wrapper {
  display: flex;
  align-items: center;
  padding-bottom: 36px;
  cursor: pointer; }
  .toggle-wrapper .toggle-label {
    font-size: 20px;
    font-size: 1.25rem;
    line-height: 34px;
    line-height: 2.125rem; }
    .toggle-wrapper .toggle-label:first-child {
      color: #949794; }
    .toggle-wrapper .toggle-label:last-child {
      color: #3f874c; }
  .toggle-wrapper .toggle {
    position: relative;
    width: 40px;
    height: 16px;
    margin: 0 20px; }
    .toggle-wrapper .toggle .toggle-track {
      opacity: 0.5;
      background: #3f874c;
      border-radius: 8px;
      width: 40px;
      height: 16px;
      position: absolute;
      z-index: 1; }
    .toggle-wrapper .toggle .toggle-handle {
      position: absolute;
      width: 24px;
      height: 24px;
      background: #3f874c;
      border-radius: 50%;
      z-index: 2;
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
      transform: translate3d(20px, -4px, 0);
      transition-property: background,transform; }
  .toggle-wrapper.off .toggle-label:first-child {
    color: #204927; }
  .toggle-wrapper.off .toggle-label:last-child {
    color: #949794; }
  .toggle-wrapper.off .toggle .toggle-track {
    background: #204927; }
  .toggle-wrapper.off .toggle .toggle-handle {
    transform: translate3d(-4px, -4px, 0);
    background: #204927; }

form {
  padding-bottom: 100px;
  border-radius: 4px;
  background: #ffffff;
  box-shadow: 0 0 8px rgba(120, 120, 120, 0.2);
  -webkit-box-shadow: 0 0 8px rgba(120, 120, 120, 0.2);
  -moz-box-shadow: 0 0 8px rgba(120, 120, 120, 0.2);
  padding: 30px 15px;
  margin-bottom: 15px; }
  form .form-header {
    text-align: center;
    padding-bottom: 15px; }
    form .form-header h1 {
      font-size: 20px;
      font-size: 1.25rem;
      line-height: 26px;
      line-height: 1.625rem; }
    form .form-header p {
      margin-top: 30px; }
    form .form-header.edit-meal {
      text-align: left;
      display: flex;
      justify-content: space-between; }
      form .form-header.edit-meal h1 {
        flex: 0 1 50%; }
      form .form-header.edit-meal a {
        flex: 0 1 50%;
        display: block;
        color: #c34131;
        text-align: right;
        font-weight: bold;
        cursor: pointer; }
        form .form-header.edit-meal a:hover, form .form-header.edit-meal a:active, form .form-header.edit-meal a:focus {
          color: #c34131; }
  form .submit-wrapper {
    padding: 60px 0 0 0; }
    form .submit-wrapper .btn {
      width: 100%;
      display: block; }
    form .submit-wrapper a {
      display: block;
      color: #535453;
      text-align: center;
      margin-top: 30px; }
      form .submit-wrapper a:hover, form .submit-wrapper a:active, form .submit-wrapper a:focus {
        color: #535453; }
    form .submit-wrapper p {
      text-align: center; }
      form .submit-wrapper p a {
        display: inline;
        margin: 0;
        color: #3f874c; }
        form .submit-wrapper p a:hover, form .submit-wrapper p a:active, form .submit-wrapper p a:focus {
          color: #3f874c; }

.form-field-wrapper {
  padding-top: 34px; }

.snack-theme .form-field .hunger-label .hunger-description {
  color: #3f874c; }

.snack-theme .form-field hr:after {
  background: #3f874c; }

.form-field {
  padding-top: 8px;
  padding-bottom: 26px;
  position: relative; }
  .form-field label {
    display: block;
    font-size: 24px;
    font-size: 1.5rem;
    line-height: 34px;
    line-height: 2.125rem;
    transition-duration: .15s;
    transition-property: transform,font-size,color;
    transform: translate3d(0, 0, 0);
    color: #949794; }
    .form-field label.range {
      transform: none; }
  .form-field input, .form-field textarea {
    opacity: 0;
    font-size: 24px;
    font-size: 1.5rem;
    line-height: 34px;
    line-height: 2.125rem;
    border: none;
    width: 100%;
    background: transparent;
    position: relative;
    z-index: 2;
    padding: 0;
    position: relative;
    top: 36px; }
  .form-field input[type="radio"] {
    opacity: 1; }
  .form-field .hunger-label {
    display: flex;
    justify-content: space-between; }
    .form-field .hunger-label .label {
      position: relative; }
      .form-field .hunger-label .label .tooltip {
        top: -5px;
        right: -17px; }
    .form-field .hunger-label .hunger-description {
      color: #204927;
      font-weight: 700;
      position: absolute;
      top: 136px;
      right: 0; }
  .form-field hr {
    margin: 0;
    border-top: 1px solid #f1f3f2;
    position: relative;
    overflow: visible; }
    .form-field hr:after {
      background: #204927;
      content: "";
      display: block;
      height: 2px;
      transition-duration: .15s;
      transition-property: width;
      width: 0;
      position: absolute;
      top: -1px;
      left: 0; }
  .form-field .btn-mood-add {
    position: absolute;
    right: 0;
    z-index: 3;
    opacity: 0;
    transition-duration: .15s;
    transition-property: opacity;
    bottom: 54px;
    color: #204927; }
    .form-field .btn-mood-add:hover, .form-field .btn-mood-add:active, .form-field .btn-mood-add:focus {
      color: #204927; }
  .form-field .input-message {
    font-size: 16px;
    font-size: 1rem;
    line-height: 26px;
    line-height: 1.625rem;
    color: #949794;
    font-style: italic; }
  .form-field input:focus {
    opacity: 1; }
    .form-field input:focus + label {
      transform: translate3d(0, -34px, 0);
      font-size: 20px;
      font-size: 1.25rem;
      color: #204927; }
    .form-field input:focus + label + hr:after {
      width: 100%;
      right: 0; }
    .form-field input:focus + label + hr + .btn-mood-add {
      opacity: 1; }
  .form-field.active label, .form-field.has-value label {
    transform: translate3d(0, -34px, 0);
    font-size: 20px;
    font-size: 1.25rem;
    color: #204927; }
  .form-field.active input, .form-field.active textarea, .form-field.has-value input, .form-field.has-value textarea {
    opacity: 1; }
  .form-field.active hr:after, .form-field.has-value hr:after {
    width: 100%;
    right: 0; }
  .form-field.active .btn-mood-add, .form-field.has-value .btn-mood-add {
    opacity: 1; }
  .form-field.textarea label, .form-field.textarea input:focus + label {
    transform: translate3d(0, -106px, 0); }
  .form-field.invalid {
    padding-bottom: 0; }
    .form-field.invalid label {
      color: #c34131; }
    .form-field.invalid hr {
      border-color: #c34131; }
      .form-field.invalid hr:after {
        background-color: #c34131; }
    .form-field.invalid .input-message {
      color: #c34131;
      font-style: normal; }
  .form-field .radio-container {
    display: block;
    position: relative;
    padding-bottom: 35px;
    min-width: 24px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-align: center; }
  .form-field .radio-container input {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    opacity: 0;
    height: 24px;
    width: 24px;
    cursor: pointer; }
  .form-field .radio-button {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    height: 24px;
    width: 24px;
    background-color: #ccc;
    border-radius: 50%; }
  .form-field .radio-container input:checked ~ .radio-button {
    background-color: #204927; }
  .form-field .radio-button:after {
    content: "";
    position: absolute;
    display: none; }
  .form-field .radio-container input:checked ~ .radio-button:after {
    display: block; }
  .form-field .radio-container .radio-button:after {
    top: 8px;
    left: 8px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white; }
  .form-field.radio-group {
    padding: 60px 0 40px 0; }
    .form-field.radio-group label {
      transform: none;
      position: relative; }
    .form-field.radio-group .radio-button-wrapper {
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-between;
      padding-top: 17px; }

.snack-theme .form-field .hunger-label .hunger-description {
  color: #3f874c; }

.snack-theme .form-field hr:after {
  background: #3f874c; }

.snack-theme .form-field input:focus + label {
  color: #3f874c; }

.snack-theme .form-field.active label, .snack-theme .form-field.has-value label {
  color: #3f874c; }

.snack-theme .form-field.invalid label {
  color: #c34131; }

.snack-theme .form-field.invalid hr {
  border-color: #c34131; }
  .snack-theme .form-field.invalid hr:after {
    background-color: #c34131; }

.snack-theme .form-field.invalid .input-message {
  color: #c34131; }

.snack-theme .form-field .radio-container input:checked ~ .radio-button {
  background-color: #3f874c; }

.snack-theme .form-field .btn-mood-add {
  color: #3f874c; }
  .snack-theme .form-field .btn-mood-add:hover, .snack-theme .form-field .btn-mood-add:active, .snack-theme .form-field .btn-mood-add:focus {
    color: #3f874c; }

.mood-field-wrapper {
  padding-top: 34px; }

.chip {
  background: #eca72f;
  padding: 7px 7px 7px 7px;
  color: #ffffff;
  position: relative;
  border-radius: 4px;
  display: inline-block;
  margin-right: 14px;
  margin-bottom: 14px;
  cursor: pointer; }
  .chip:before {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #ffffff;
    display: block; }

form .chip-wrapper {
  padding-bottom: 34px; }

form .chip {
  padding-right: 35px; }

@media only screen and (min-width: 480px) {
  form {
    padding-left: 30px;
    padding-right: 30px; }
  .form-field .radio-container {
    min-width: 30px; }
  .form-field .radio-container input {
    height: 30px;
    width: 30px; }
  .form-field .radio-button {
    height: 30px;
    width: 30px; }
  .form-field .radio-container .radio-button:after {
    top: 10px;
    left: 10px;
    width: 10px;
    height: 10px; } }

@media only screen and (min-width: 768px) {
  .toggle-wrapper {
    padding-top: 10px; }
  form .submit-wrapper .btn {
    max-width: 200px;
    float: right;
    padding-left: 30px;
    padding-right: 30px; }
  form .submit-wrapper a {
    margin-top: 16px;
    margin-right: 30px;
    float: right;
    cursor: pointer; }
  form .submit-wrapper p {
    float: right;
    margin-right: 30px; }
    form .submit-wrapper p a {
      float: none; }
  #register .submit-wrapper p {
    float: left; } }

@media only screen and (min-width: 992px) {
  .form-field, .toggle-wrapper, .form-field.radio-group, form .chip-wrapper {
    padding-left: 30px;
    padding-right: 30px; }
  .form-field .btn-mood-add {
    right: 30px; }
  form#register .submit-wrapper p {
    margin-left: 30px; } }

/*** COMPONENTS ***/
#main-header {
  padding-bottom: 10px; }
  #main-header .logo {
    display: block;
    color: #535453; }
    #main-header .logo:hover, #main-header .logo:active, #main-header .logo:focus {
      color: #535453; }

.logo .logo-circle {
  display: inline-block;
  vertical-align: middle;
  width: 40px;
  height: 40px;
  background: #204927;
  border-radius: 50%;
  position: relative;
  margin-top: 15px; }
  .logo .logo-circle:after {
    content: '';
    background: #3f874c;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 50%;
    height: 50%;
    border-radius: 50%; }

.logo .logo-text {
  display: none; }

.main-menu-hamburger-wrapper {
  text-align: right;
  padding-top: 9px; }
  .main-menu-hamburger-wrapper.logged-out {
    display: none; }

.main-menu-hamburger {
  font-size: 50px;
  font-size: 3.125rem;
  line-height: 52px;
  line-height: 3.25rem;
  cursor: pointer;
  color: #949794;
  display: block;
  max-height: 50px; }
  .main-menu-hamburger:hover, .main-menu-hamburger:active, .main-menu-hamburger:focus {
    color: #949794; }

.main-menu-wrapper {
  display: none; }
  .main-menu-wrapper.logged-out {
    display: block; }
  .main-menu-wrapper nav {
    text-align: right;
    padding-top: 14px; }
    .main-menu-wrapper nav ul {
      padding: 0; }
      .main-menu-wrapper nav ul li {
        display: inline-block;
        vertical-align: top;
        position: relative; }
        .main-menu-wrapper nav ul li:first-child {
          margin-left: 0; }
        .main-menu-wrapper nav ul li:last-child ul {
          width: 200px; }
        .main-menu-wrapper nav ul li.divider {
          width: 1px;
          height: 15px;
          background: #949794;
          margin: 15px 15px 0 15px; }
        .main-menu-wrapper nav ul li a {
          display: block;
          text-transform: uppercase;
          font-weight: 600;
          font-size: 15px;
          font-size: 0.9375rem;
          line-height: 17px;
          line-height: 1.0625rem;
          padding: 15px;
          cursor: pointer;
          color: #949794; }
          .main-menu-wrapper nav ul li a:hover, .main-menu-wrapper nav ul li a:active, .main-menu-wrapper nav ul li a:focus {
            color: #949794;
            text-decoration: none;
            opacity: 0.6; }
        .main-menu-wrapper nav ul li.nav-dropdown-item {
          position: relative;
          z-index: 10; }
          .main-menu-wrapper nav ul li.nav-dropdown-item .dropdown-label {
            position: relative;
            color: #949794;
            cursor: pointer;
            font-size: 15px;
            font-size: 0.9375rem;
            line-height: 17px;
            line-height: 1.0625rem;
            padding: 15px 30px 15px 15px;
            text-transform: uppercase;
            font-weight: 600; }
            .main-menu-wrapper nav ul li.nav-dropdown-item .dropdown-label:before {
              position: absolute;
              right: 15px;
              top: 5px;
              top: 17px;
              font-size: 12px;
              font-size: 0.75rem; }
          .main-menu-wrapper nav ul li.nav-dropdown-item:hover, .main-menu-wrapper nav ul li.nav-dropdown-item:active, .main-menu-wrapper nav ul li.nav-dropdown-item:focus {
            background: #949794;
            color: #ffffff; }
            .main-menu-wrapper nav ul li.nav-dropdown-item:hover .dropdown-label, .main-menu-wrapper nav ul li.nav-dropdown-item:active .dropdown-label, .main-menu-wrapper nav ul li.nav-dropdown-item:focus .dropdown-label {
              color: #ffffff; }
            .main-menu-wrapper nav ul li.nav-dropdown-item:hover ul, .main-menu-wrapper nav ul li.nav-dropdown-item:active ul, .main-menu-wrapper nav ul li.nav-dropdown-item:focus ul {
              display: block; }
        .main-menu-wrapper nav ul li ul {
          display: none;
          position: absolute;
          top: 47px;
          right: 0;
          min-width: 100%; }
          .main-menu-wrapper nav ul li ul li {
            display: block; }
            .main-menu-wrapper nav ul li ul li a {
              background: #949794;
              color: #ffffff; }
              .main-menu-wrapper nav ul li ul li a:hover, .main-menu-wrapper nav ul li ul li a:active, .main-menu-wrapper nav ul li ul li a:focus {
                color: #ffffff;
                background: #535453;
                opacity: 1; }
    .main-menu-wrapper nav.logged-out {
      padding-top: 10px; }
      .main-menu-wrapper nav.logged-out a {
        font-size: 20px;
        font-size: 1.25rem;
        line-height: 24px;
        line-height: 1.5rem;
        padding-left: 15px;
        padding-right: 15px; }
        .main-menu-wrapper nav.logged-out a.register-cta {
          padding-right: 0;
          color: #3f874c; }
          .main-menu-wrapper nav.logged-out a.register-cta:hover, .main-menu-wrapper nav.logged-out a.register-cta:active, .main-menu-wrapper nav.logged-out a.register-cta:focus {
            color: #3f874c; }

@media only screen and (min-width: 992px) {
  #main-header {
    padding-bottom: 45px; }
  .logo .logo-text {
    display: inline-block;
    vertical-align: middle;
    font-size: 27px;
    font-size: 1.6875rem;
    line-height: 42px;
    line-height: 2.625rem;
    vertical-align: middle;
    font-weight: 400;
    margin: 13px 0 0 15px;
    text-transform: lowercase; }
    .logo .logo-text span {
      text-transform: lowercase;
      font-weight: 600; }
  .main-menu-hamburger-wrapper {
    display: none; }
  .main-menu-wrapper {
    display: block; }
    .main-menu-wrapper nav.logged-out a {
      padding-left: 30px;
      padding-right: 30px; } }

.homepage-wrapper {
  height: calc(100% - 70px); }
  .homepage-wrapper .daily-view {
    height: 100%; }

.daily-view {
  height: calc(100% - 70px); }
  .daily-view .day-help-text {
    font-size: 18px;
    font-size: 1.125rem;
    line-height: 24px;
    line-height: 1.5rem;
    font-weight: 600;
    margin: 100px 50px;
    text-align: center;
    max-width: 400;
    color: #949794;
    opacity: 0.6; }

.meal-summary-wrapper {
  position: relative;
  min-height: calc(100% - 61px); }
  .meal-summary-wrapper .col-md-6 {
    float: none;
    display: inline-block;
    vertical-align: top; }
    .meal-summary-wrapper .col-md-6:nth-last-child(2) {
      margin-bottom: 135px; }

.meal-view {
  height: calc(100% - 70px); }
  .meal-view .row, .meal-view .col-xs-12 {
    height: 100%; }

.meal-card {
  margin-bottom: 45px;
  background: #ffffff;
  border-radius: 4px;
  box-shadow: 0 0 8px rgba(120, 120, 120, 0.2);
  -webkit-box-shadow: 0 0 8px rgba(120, 120, 120, 0.2);
  -moz-box-shadow: 0 0 8px rgba(120, 120, 120, 0.2); }
  .meal-card header {
    background: #204927;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px; }
    .meal-card header h2 {
      flex: 0 1 30%;
      text-align: right;
      font-size: 18px;
      font-size: 1.125rem;
      line-height: 24px;
      line-height: 1.5rem;
      font-weight: 400;
      padding: 12px 0; }
      .meal-card header h2:first-child {
        padding-left: 15px; }
      .meal-card header h2:last-child {
        flex: 0 1 70%;
        padding-right: 30px; }
  .meal-card.snack-theme header {
    background: #3f874c; }
  .meal-card main {
    font-size: 18px;
    font-size: 1.125rem;
    line-height: 24px;
    line-height: 1.5rem; }
    .meal-card main .meal-card-section {
      display: flex;
      justify-content: space-between;
      padding-top: 10px;
      padding-bottom: 10px; }
      .meal-card main .meal-card-section.chip-wrapper {
        margin-top: 7px; }
        .meal-card main .meal-card-section.chip-wrapper .meal-card-value {
          margin-top: -7px; }
          .meal-card main .meal-card-section.chip-wrapper .meal-card-value .chip {
            cursor: default; }
    .meal-card main .chip {
      padding-right: 7px;
      background: #eca72f; }
    .meal-card main h3 {
      font-size: 18px;
      font-size: 1.125rem;
      line-height: 24px;
      line-height: 1.5rem;
      flex: 0 1 30%;
      text-align: right; }
    .meal-card main .meal-card-value {
      flex: 0 1 70%;
      padding-left: 30px;
      padding-right: 30px; }
    .meal-card main .hunger-section {
      border-bottom: 1px solid #f1f3f2;
      padding-top: 20px;
      padding-bottom: 20px;
      margin-bottom: 10px;
      font-size: 24px;
      font-size: 1.5rem;
      line-height: 30px;
      line-height: 1.875rem;
      position: relative; }
      .meal-card main .hunger-section h3 {
        margin-top: auto;
        margin-bottom: auto; }
        .meal-card main .hunger-section h3 .hunger-title {
          position: relative;
          display: inline-block; }
          .meal-card main .hunger-section h3 .hunger-title .tooltip {
            left: -15px;
            right: auto;
            top: -12px; }
      .meal-card main .hunger-section .hunger-start {
        display: inline-block;
        vertical-align: top;
        width: 45%; }
      .meal-card main .hunger-section .hunger-end {
        display: inline-block;
        vertical-align: top;
        width: 45%;
        text-align: right; }
      .meal-card main .hunger-section .hunger-start-index {
        display: inline-block;
        vertical-align: middle;
        font-weight: 600; }
      .meal-card main .hunger-section .hunger-icon {
        display: inline-block;
        vertical-align: middle;
        margin: 0 0 0 10px; }
      .meal-card main .hunger-section .hunger-end-index {
        display: inline-block;
        vertical-align: middle;
        font-weight: 600; }
      .meal-card main .hunger-section .hunger-divider {
        display: inline-block;
        vertical-align: middle;
        width: 10%;
        text-align: center; }
  .meal-card footer {
    margin-left: 0;
    margin-right: 0;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    padding: 15px;
    width: 70%;
    float: right;
    text-align: right; }

@media only screen and (min-width: 992px) {
  .homepage-wrapper {
    height: calc(100% - 113px); }
  .daily-view {
    height: calc(100% - 113px); }
  .meal-view {
    height: calc(100% - 113px); }
    .meal-view .row, .meal-view .col-xs-12 {
      height: 100%; } }

main.drawer-open {
  overflow: hidden; }

.drawer-wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  right: -100%;
  top: 0;
  z-index: 20; }
  .drawer-wrapper .drawer {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #ffffff;
    right: -100%;
    top: 0;
    -webkit-transition: right 250ms ease;
    -moz-transition: right 250ms ease;
    -o-transition: right 250ms ease;
    -ms-transition: right 250ms ease;
    transition: right 250ms ease;
    z-index: 21; }
    .drawer-wrapper .drawer.hunger-scale-drawer {
      background: #f1f3f2; }
  .drawer-wrapper.active {
    right: 0; }
    .drawer-wrapper.active .drawer {
      right: 0; }
  .drawer-wrapper a {
    cursor: pointer;
    display: block; }

.nav-drawer-section {
  padding-left: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #f1f3f2; }
  .nav-drawer-section ul li {
    padding-top: 30px;
    font-size: 18px;
    font-size: 1.125rem;
    line-height: 24px;
    line-height: 1.5rem; }
    .nav-drawer-section ul li span {
      display: inline-block;
      vertical-align: middle; }
      .nav-drawer-section ul li span:before {
        font-size: 30px;
        font-size: 1.875rem;
        margin-right: 15px;
        display: inline-block;
        vertical-align: middle; }
    .nav-drawer-section ul li a.ion-android-close:before {
      font-size: 27px;
      font-size: 1.6875rem;
      margin-left: 5px; }

.hunger-scale-drawer-section:first-child {
  padding-bottom: 15px; }

.hunger-scale-drawer-section a.ion-android-close:before {
  font-size: 32px;
  font-size: 2rem;
  margin-left: 5px;
  color: #949794; }
  .hunger-scale-drawer-section a.ion-android-close:before:hover, .hunger-scale-drawer-section a.ion-android-close:before:active, .hunger-scale-drawer-section a.ion-android-close:before:focus, .hunger-scale-drawer-section a.ion-android-close:before:visited {
    color: #949794; }

@media only screen and (min-width: 768px) {
  .drawer-wrapper {
    background: rgba(148, 151, 148, 0.4); }
    .drawer-wrapper .hunger-scale-drawer {
      max-width: 400px;
      height: auto;
      top: 50%;
      transform: translateY(-50%);
      border-radius: 4px;
      box-shadow: 0 0 8px rgba(120, 120, 120, 0.2);
      -webkit-box-shadow: 0 0 8px rgba(120, 120, 120, 0.2);
      -moz-box-shadow: 0 0 8px rgba(120, 120, 120, 0.2);
      padding: 8px 15px 25px 15px; }
      .drawer-wrapper .hunger-scale-drawer .container {
        max-width: 100%; }
    .drawer-wrapper.active .hunger-scale-drawer {
      left: 0;
      margin: auto; }
  .hunger-scale-drawer-section {
    position: relative; }
    .hunger-scale-drawer-section:first-child {
      padding-bottom: 0; }
    .hunger-scale-drawer-section a.ion-android-close {
      padding-bottom: 32px; }
      .hunger-scale-drawer-section a.ion-android-close:before {
        position: absolute;
        left: auto;
        right: 0; } }

.calendar-wrapper {
  height: calc(100% - 70px);
  overflow-y: auto; }

.calendar {
  height: calc(100% - 56px);
  max-height: 756px;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  align-content: stretch;
  background: #ffffff;
  border-radius: 4px;
  box-shadow: 0 0 8px rgba(120, 120, 120, 0.2);
  -webkit-box-shadow: 0 0 8px rgba(120, 120, 120, 0.2);
  -moz-box-shadow: 0 0 8px rgba(120, 120, 120, 0.2); }
  .calendar.rows-7 .calendar-row {
    height: 16%; }
  .calendar.rows-6 .calendar-row {
    height: 19.2%; }
  .calendar.rows-5 .calendar-row {
    height: 24%; }
  .calendar .calendar-row {
    border-bottom: 1px solid #f1f3f2; }
    .calendar .calendar-row.calendar-header {
      height: 4%;
      border-bottom: none;
      font-weight: 700; }
      .calendar .calendar-row.calendar-header span {
        display: none; }
      .calendar .calendar-row.calendar-header .calendar-day {
        padding-bottom: 0; }
    .calendar .calendar-row .calendar-day {
      height: 100%;
      width: 14.285714285714%;
      float: left;
      padding: 10px;
      cursor: pointer;
      color: #535453;
      overflow: hidden; }
      .calendar .calendar-row .calendar-day:hover, .calendar .calendar-row .calendar-day:active, .calendar .calendar-row .calendar-day:focus, .calendar .calendar-row .calendar-day:visited {
        color: #535453;
        text-decoration: none; }
      .calendar .calendar-row .calendar-day.inactive {
        opacity: 0.5; }
      .calendar .calendar-row .calendar-day .calendar-date {
        font-size: 14px;
        padding-left: 4px; }
      .calendar .calendar-row .calendar-day .current .calendar-date {
        padding-left: 0;
        padding-top: 1px;
        background: #eca72f;
        border-radius: 50%;
        color: #ffffff;
        display: block;
        width: 22px;
        text-align: center;
        margin-top: -1px;
        margin-left: -2px; }
      .calendar .calendar-row .calendar-day .calendar-meal {
        background: #3f874c;
        border-radius: 4px;
        margin-top: 3px;
        padding: 1px 5px;
        min-height: 10px; }
        .calendar .calendar-row .calendar-day .calendar-meal.meal-theme {
          background: #204927; }
      .calendar .calendar-row .calendar-day .calendar-meal-hunger {
        display: none; }
  .calendar .day-ellipsis {
    display: none;
    height: 10px;
    margin-top: 3px; }
    .calendar .day-ellipsis .ellipsis-dot {
      width: 6px;
      height: 6px;
      background: #949794;
      border-radius: 50%;
      margin-left: 2px;
      display: block;
      float: left; }
      .calendar .day-ellipsis .ellipsis-dot:first-child {
        margin-left: 0; }
  .calendar .calendar-meal.truncate + .day-ellipsis {
    display: block; }

@media only screen and (min-width: 450px) {
  .calendar .calendar-row {
    min-height: 140px; }
    .calendar .calendar-row.calendar-header {
      min-height: 30px; }
    .calendar .calendar-row .calendar-day .calendar-meal-hunger {
      display: flex;
      display: flex;
      justify-content: space-between;
      color: #ffffff; } }

@media only screen and (min-width: 768px) {
  .calendar {
    max-height: 898px; } }

@media only screen and (min-width: 992px) {
  .calendar-wrapper {
    height: calc(100% - 113px); }
  .calendar {
    max-height: 100%; } }

.stats {
  background: #ffffff;
  border-radius: 4px;
  box-shadow: 0 0 8px rgba(120, 120, 120, 0.2);
  -webkit-box-shadow: 0 0 8px rgba(120, 120, 120, 0.2);
  -moz-box-shadow: 0 0 8px rgba(120, 120, 120, 0.2);
  margin-bottom: 15px; }
  .stats .row {
    margin: 0; }
  .stats .stats-header {
    padding-top: 30px;
    position: relative;
    padding-bottom: 15px; }
    .stats .stats-header .avatar {
      display: block;
      margin: 0 auto; }
    .stats .stats-header h1 {
      line-height: 30px;
      line-height: 1.875rem;
      font-size: 24px;
      font-size: 1.5rem;
      text-align: center;
      font-weight: 600;
      padding: 10px 0 8px 0;
      color: #535453;
      text-transform: uppercase; }
    .stats .stats-header .settings-link {
      font-size: 26px;
      font-size: 1.625rem;
      display: block;
      position: absolute;
      top: 12px;
      right: 0; }
      .stats .stats-header .settings-link:before {
        display: block; }
  .stats .highlight-band {
    text-align: center;
    padding-top: 21px;
    padding-bottom: 29px;
    background: #535453;
    color: #ffffff; }
    .stats .highlight-band h2 {
      line-height: 18px;
      line-height: 1.125rem;
      font-size: 16px;
      font-size: 1rem;
      color: #ffffff;
      max-width: 150px;
      margin: 0 auto; }
    .stats .highlight-band .streak-number {
      line-height: 50px;
      line-height: 3.125rem;
      font-size: 38px;
      font-size: 2.375rem;
      font-weight: 700;
      color: #f1f3f2; }
      .stats .highlight-band .streak-number span {
        font-size: 18px;
        font-size: 1.125rem;
        font-weight: 400; }
  .stats .tab-content {
    padding: 0 15px; }
  .stats .meal-tab .stat-row {
    border-left: 3px solid #204927; }
  .stats .snack-tab .stat-row {
    border-left: 3px solid #3f874c; }
  .stats .stat-row {
    padding: 2px 15px 0px 30px;
    margin-top: 30px;
    margin-bottom: 30px; }
    .stats .stat-row .stat {
      display: flex; }
    .stats .stat-row h2 {
      padding-bottom: 7px;
      font-size: 16px;
      font-size: 1rem;
      line-height: 24px;
      line-height: 1.5rem; }
      .stats .stat-row h2 .title {
        position: relative; }
        .stats .stat-row h2 .title .tooltip {
          top: -8px;
          right: -20px; }
    .stats .stat-row h3 {
      line-height: 48px;
      line-height: 3rem;
      font-size: 48px;
      font-size: 3rem;
      font-weight: 700; }
      .stats .stat-row h3 span {
        font-size: 18px;
        font-size: 1.125rem;
        font-weight: 400; }
    .stats .stat-row .hunger-icon {
      padding-top: 6px;
      padding-left: 13px; }
    .stats .stat-row .chip-wrapper {
      padding-top: 9px; }

.stat-tabber {
  text-align: center;
  padding-top: 15px;
  margin-bottom: 15px;
  padding: 0 15px; }
  .stat-tabber .tab {
    display: inline-block;
    vertical-align: bottom;
    width: 50%;
    border-bottom: 1px solid #949794;
    padding-bottom: 1px;
    color: #949794;
    font-weight: 400;
    cursor: pointer; }
    .stat-tabber .tab.active {
      border-bottom: 3px solid #3f874c;
      padding-bottom: 0;
      color: #3f874c;
      font-weight: 600; }
    .stat-tabber .tab:first-child.active {
      color: #204927;
      border-color: #204927; }
    .stat-tabber .tab .tab-title {
      padding: 57px 0 7px;
      font-size: 20px;
      font-size: 1.25rem;
      line-height: 24px;
      line-height: 1.5rem;
      text-transform: uppercase;
      margin-bottom: -1px; }

.tab-content {
  display: none; }
  .tab-content.active {
    display: block; }

@media only screen and (min-width: 992px) {
  .stats .highlight-band {
    text-align: left;
    padding-top: 6px;
    padding-bottom: 5px; }
    .stats .highlight-band .streak-number {
      display: inline-block;
      vertical-align: baseline;
      padding-left: 15px; }
    .stats .highlight-band h2 {
      display: inline-block;
      vertical-align: baseline;
      max-width: 100%;
      padding-left: 15px; }
  .stats .stats-header {
    padding-bottom: 30px; }
  .stat-tabber {
    margin-bottom: 45px;
    padding: 0;
    margin-left: 15px;
    margin-right: 15px;
    text-align: left;
    border-bottom: 1px solid #949794; }
    .stat-tabber .tab {
      width: 25%;
      border-bottom: none;
      margin-bottom: -1px; }
      .stat-tabber .tab .tab-title {
        text-align: center;
        margin-bottom: 0; } }

@media only screen and (min-width: 1200px) {
  .stat-tabber .tab {
    width: 12.5%; } }

.account form {
  box-shadow: none;
  padding: 0;
  border-radius: 0; }

.account .account-top-row {
  margin-left: 0;
  margin-right: 0; }

.account .account-section {
  background: #ffffff;
  border-radius: 4px;
  box-shadow: 0 0 8px rgba(120, 120, 120, 0.2);
  -webkit-box-shadow: 0 0 8px rgba(120, 120, 120, 0.2);
  -moz-box-shadow: 0 0 8px rgba(120, 120, 120, 0.2);
  padding: 30px;
  margin: 0 0 15px 0; }
  .account .account-section p {
    font-size: 20px;
    font-size: 1.25rem;
    line-height: 26px;
    line-height: 1.625rem; }
    .account .account-section p strong {
      font-weight: 600; }
  .account .account-section h2 {
    padding-bottom: 15px;
    font-size: 20px;
    font-size: 1.25rem;
    line-height: 26px;
    line-height: 1.625rem;
    text-align: center;
    font-weight: 600;
    text-transform: uppercase;
    border-bottom: 1px solid #f1f3f2; }
  .account .account-section .account-sub-section {
    padding-bottom: 30px;
    margin-bottom: 30px; }
    .account .account-section .account-sub-section p:first-child {
      margin-top: 0; }
    .account .account-section .account-sub-section:first-child p:first-child {
      margin-top: 1em; }
    .account .account-section .account-sub-section:last-child {
      border-bottom: 0; }

.account .export-file-name {
  font-weight: 600; }

.account .btn-wrapper {
  text-align: right;
  padding-top: 30px; }
  .account .btn-wrapper .btn {
    padding: 8px 30px;
    min-width: 0; }
  .account .btn-wrapper .link-pair {
    display: inline-block;
    margin: 8px 15px 0 0;
    color: #535453;
    cursor: pointer; }
    .account .btn-wrapper .link-pair:hover, .account .btn-wrapper .link-pair:active, .account .btn-wrapper .link-pair:focus, .account .btn-wrapper .link-pair:visited {
      color: #535453; }

@media only screen and (min-width: 992px) {
  .account .account-top-row {
    display: flex;
    margin: 0; }
    .account .account-top-row .account-section {
      margin-right: 7px;
      padding-bottom: 100px;
      padding-left: 30px; }
      .account .account-top-row .account-section:last-child {
        margin-right: 0;
        margin-left: 8px; }
  .account .account-section {
    padding-bottom: 0;
    padding-left: 15px; }
    .account .account-section h2 {
      text-align: left; }
  .account .account-section .form-field {
    padding-left: 0;
    padding-right: 0; }
  .account .account-section .account-sub-section-wrapper {
    display: flex; }
  .account .account-section .account-sub-section {
    padding: 20px 30px 100px 15px;
    margin: 0; }
    .account .account-section .account-sub-section:last-child {
      padding-left: 45px; }
      .account .account-section .account-sub-section:last-child .btn-wrapper {
        right: 0; }
    .account .account-section .account-sub-section p:first-child {
      margin-top: 1em; }
  .account .btn-wrapper {
    position: absolute;
    bottom: 30px;
    right: 30px; } }

.hunger-icon-0 {
  width: 40px;
  height: 40px;
  background: #949794;
  border-radius: 50%;
  display: block;
  position: relative; }
  .hunger-icon-0:before {
    content: '';
    height: 1%;
    width: 1%;
    background: #c34131;
    border-radius: 50%;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 2; }

.hunger-icon-1 {
  width: 40px;
  height: 40px;
  background: #949794;
  border-radius: 50%;
  display: block;
  position: relative; }
  .hunger-icon-1:before {
    content: '';
    height: 10%;
    width: 10%;
    background: #c34131;
    border-radius: 50%;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 2; }

.hunger-icon-2 {
  width: 40px;
  height: 40px;
  background: #949794;
  border-radius: 50%;
  display: block;
  position: relative; }
  .hunger-icon-2:before {
    content: '';
    height: 20%;
    width: 20%;
    background: #ffbc49;
    border-radius: 50%;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 2; }

.hunger-icon-3 {
  width: 40px;
  height: 40px;
  background: #949794;
  border-radius: 50%;
  display: block;
  position: relative; }
  .hunger-icon-3:before {
    content: '';
    height: 30%;
    width: 30%;
    background: #3f874c;
    border-radius: 50%;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 2; }

.hunger-icon-4 {
  width: 40px;
  height: 40px;
  background: #949794;
  border-radius: 50%;
  display: block;
  position: relative; }
  .hunger-icon-4:before {
    content: '';
    height: 40%;
    width: 40%;
    background: #3f874c;
    border-radius: 50%;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 2; }

.hunger-icon-5 {
  width: 40px;
  height: 40px;
  background: #949794;
  border-radius: 50%;
  display: block;
  position: relative; }
  .hunger-icon-5:before {
    content: '';
    height: 50%;
    width: 50%;
    background: #3f874c;
    border-radius: 50%;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 2; }

.hunger-icon-6 {
  width: 40px;
  height: 40px;
  background: #949794;
  border-radius: 50%;
  display: block;
  position: relative; }
  .hunger-icon-6:before {
    content: '';
    height: 60%;
    width: 60%;
    background: #3f874c;
    border-radius: 50%;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 2; }

.hunger-icon-7 {
  width: 40px;
  height: 40px;
  background: #949794;
  border-radius: 50%;
  display: block;
  position: relative; }
  .hunger-icon-7:before {
    content: '';
    height: 70%;
    width: 70%;
    background: #3f874c;
    border-radius: 50%;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 2; }

.hunger-icon-8 {
  width: 40px;
  height: 40px;
  background: #949794;
  border-radius: 50%;
  display: block;
  position: relative; }
  .hunger-icon-8:before {
    content: '';
    height: 80%;
    width: 80%;
    background: #ffbc49;
    border-radius: 50%;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 2; }

.hunger-icon-9 {
  width: 40px;
  height: 40px;
  background: #949794;
  border-radius: 50%;
  display: block;
  position: relative; }
  .hunger-icon-9:before {
    content: '';
    height: 90%;
    width: 90%;
    background: #c34131;
    border-radius: 50%;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 2; }

.hunger-icon-10 {
  width: 40px;
  height: 40px;
  background: #949794;
  border-radius: 50%;
  display: block;
  position: relative; }
  .hunger-icon-10:before {
    content: '';
    height: 100%;
    width: 100%;
    background: #c34131;
    border-radius: 50%;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 2; }

.hunger-scale-row {
  width: 100%;
  border-bottom: 1px solid rgba(137, 140, 137, 0.5);
  padding: 5px 0;
  display: flex;
  align-items: center; }
  .hunger-scale-row:last-child {
    border-bottom: none; }
  .hunger-scale-row .hunger-scale-number {
    font-size: 22px;
    font-size: 1.375rem;
    line-height: 40px;
    line-height: 2.5rem;
    font-weight: 600;
    padding: 2px 30px 0 30px; }
  .hunger-scale-row .hunger-scale-word {
    font-size: 22px;
    font-size: 1.375rem;
    line-height: 40px;
    line-height: 2.5rem;
    font-weight: 600;
    padding-top: 2px; }

.homepage #main-header {
  padding-bottom: 6px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 10;
  background: #f1f3f2;
  box-shadow: 0 0 8px rgba(120, 120, 120, 0.2);
  -webkit-box-shadow: 0 0 8px rgba(120, 120, 120, 0.2);
  -moz-box-shadow: 0 0 8px rgba(120, 120, 120, 0.2); }

.homepage .main-wrapper {
  padding-top: 70px; }

.homepage .logo {
  color: #eca72f; }

.homepage h1 {
  font-size: 30px;
  font-size: 1.875rem;
  line-height: 38px;
  line-height: 2.375rem; }

.homepage .scroll-cta {
  position: absolute;
  bottom: 15px;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  font-size: 18px;
  font-size: 1.125rem; }
  .homepage .scroll-cta:before {
    font-size: 30px;
    font-size: 1.875rem;
    line-height: 34px;
    line-height: 2.125rem;
    display: block;
    position: absolute;
    bottom: -30px;
    left: 0;
    right: 0;
    margin: auto;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #204927;
    color: #ffffff;
    z-index: 2; }

.homepage .homepage-section {
  padding: 55px 0;
  position: relative; }
  .homepage .homepage-section ul {
    list-style-type: disc;
    padding: 32px 0 0 21px; }
    .homepage .homepage-section ul li {
      font-size: 20px;
      font-size: 1.25rem;
      line-height: 26px;
      line-height: 1.625rem; }
    .homepage .homepage-section ul .tooltip {
      position: static;
      display: inline-block; }

.homepage .homepage-section-hero {
  padding: 150px 0 182px;
  background: #3f874c;
  color: #ffffff; }

.homepage .homepage-section-meal-card {
  padding-bottom: 50px; }
  .homepage .homepage-section-meal-card ul {
    padding-bottom: 53px; }
  .homepage .homepage-section-meal-card .scroll-cta:before {
    background: #3f874c; }

.homepage .homepage-section-calendar {
  background: #535453;
  color: #f1f3f2;
  padding-bottom: 93px; }
  .homepage .homepage-section-calendar h2 {
    padding-bottom: 27px; }
  .homepage .homepage-section-calendar .scroll-cta:before {
    background: #eca72f; }

.homepage .homepage-section-stats {
  color: #204927;
  padding-bottom: 65px; }
  .homepage .homepage-section-stats h2 {
    padding-bottom: 42px; }
  .homepage .homepage-section-stats .stat-image {
    display: none; }

.homepage .homepage-section-join {
  background: #204927;
  color: #ffffff;
  padding-top: 104px;
  padding-bottom: 107px;
  text-align: center; }
  .homepage .homepage-section-join h2 {
    padding-bottom: 40px; }
  .homepage .homepage-section-join .btn-wrapper {
    padding-bottom: 9px; }
  .homepage .homepage-section-join .btn {
    box-shadow: 0 0 8px rgba(120, 120, 120, 0.2);
    -webkit-box-shadow: 0 0 8px rgba(120, 120, 120, 0.2);
    -moz-box-shadow: 0 0 8px rgba(120, 120, 120, 0.2); }

@media only screen and (min-width: 480px) {
  .homepage h1 {
    font-size: 43px;
    font-size: 2.6875rem;
    line-height: 51px;
    line-height: 3.1875rem; }
  .homepage .meal-card {
    margin-left: 18px;
    margin-right: 13px; }
  .homepage .homepage-section-join {
    padding-top: 117px;
    padding-bottom: 120px; } }

@media only screen and (min-width: 640px) {
  .homepage .homepage-section-stats {
    padding-bottom: 69px; }
    .homepage .homepage-section-stats .stat-image-narrow {
      display: none; }
    .homepage .homepage-section-stats .stat-image {
      display: block; }
  .homepage .meal-card {
    margin-left: 68px;
    margin-right: 63px; }
  .homepage img {
    padding-left: 60px;
    padding-right: 60px; } }

@media only screen and (min-width: 640px) {
  .homepage .homepage-section {
    padding-top: 85px; }
  .homepage .homepage-section-hero {
    padding: 180px 0 212px; }
  .homepage .homepage-section-meal-card {
    padding-bottom: 80px; }
  .homepage .homepage-section-calendar {
    padding-bottom: 123px; }
  .homepage .homepage-section-stats {
    padding-bottom: 95px;
    padding-bottom: 99px; }
  .homepage .homepage-section-join {
    padding-top: 147px;
    padding-bottom: 150px; } }

@media only screen and (min-width: 992px) {
  .homepage h1 {
    font-size: 90px;
    font-size: 5.625rem;
    line-height: 98px;
    line-height: 6.125rem; }
  .homepage h2 {
    font-size: 45px;
    font-size: 2.8125rem;
    line-height: 49px;
    line-height: 3.0625rem; }
  .homepage .meal-card {
    margin-left: 0;
    margin-right: 0; }
  .homepage img {
    padding-left: 0;
    padding-right: 0; }
  .homepage .homepage-section {
    padding-top: 115px; }
  .homepage .homepage-section-hero {
    padding: 180px 0 212px; }
  .homepage .homepage-section-meal-card {
    padding-bottom: 110px; }
  .homepage .homepage-section-calendar {
    padding-bottom: 153px; }
  .homepage .homepage-section-stats {
    padding-bottom: 125px;
    padding-bottom: 129px; }
  .homepage .homepage-section-join {
    padding-top: 147px;
    padding-bottom: 150px; }
  .homepage .homepage-section .row {
    display: flex;
    align-items: center; }
  .homepage .homepage-section-meal-card .row {
    align-items: flex-start; }
  .homepage .footer-ctas {
    padding-top: 30px; }
  .homepage .footer-utility {
    text-align: right; } }

.main-footer {
  background-color: #949794;
  color: #f1f3f2;
  padding: 55px 0 10px 0;
  position: relative; }
  .main-footer .footer-gradient {
    background-image: linear-gradient(-180deg, #000000 2%, transparent 100%);
    opacity: 0.3;
    width: 100%;
    height: 68px;
    position: absolute;
    right: 0;
    top: 0; }
  .main-footer a {
    color: #f1f3f2;
    padding-right: 30px; }
  .main-footer .logo {
    color: #f1f3f2; }
  .main-footer .footer-utility {
    padding-top: 30px; }

.about {
  background: #ffffff;
  border-radius: 4px;
  box-shadow: 0 0 8px rgba(120, 120, 120, 0.2);
  -webkit-box-shadow: 0 0 8px rgba(120, 120, 120, 0.2);
  -moz-box-shadow: 0 0 8px rgba(120, 120, 120, 0.2);
  padding: 26px 30px; }
  .about p {
    font-size: 18px;
    font-size: 1.125rem;
    line-height: 26px;
    line-height: 1.625rem; }
  .about .tooltip {
    position: static;
    display: inline-block; }
  .about .contact-email {
    font-size: 24px;
    font-size: 1.5rem;
    line-height: 30px;
    line-height: 1.875rem;
    font-weight: 600; }
