@import url("https://fonts.googleapis.com/css?family=Nunito:300,600,700");
/***** MIXINS *****/
/***** MIXINS *****/
/***** FUNCTIONS *****/
/***** HUNGER ICONS *****/
/***** BASE *****/
html, body {
  font-family: 'Nunito', sans-serif;
  height: 100%;
  font-size: 100%;
  color: #404240;
  font-weight: 300;
  background: #e4e8e5; }

#root, .sub-root {
  height: 100%; }

.main-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column; }

main {
  height: 100%; }

footer {
  flex-shrink: 0; }

img {
  max-width: 100%; }

.clearfix:after {
  content: "";
  display: table;
  clear: both; }

*:focus {
  outline: none; }

.view-header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 18px; }
  .view-header h1 {
    color: #898c89; }
    .view-header h1 span {
      font-size: 20px;
      font-size: 1.25rem;
      padding-left: 15px; }
  .view-header a {
    color: #898c89;
    margin-top: auto;
    margin-bottom: auto; }
    .view-header a:hover, .view-header a:active, .view-header a:focus, .view-header a:visited {
      color: #898c89; }
  .view-header a.disabled {
    color: #e4e8e5; }

a.log-cta {
  width: 75px;
  height: 75px;
  background: #083510;
  border-radius: 50%;
  color: #ffffff;
  text-align: center;
  font-size: 50px;
  font-size: 3.125rem;
  line-height: 84px;
  line-height: 5.25rem;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  position: fixed;
  bottom: 30px;
  right: 30px;
  cursor: pointer; }
  a.log-cta:hover, a.log-cta:active, a.log-cta:focus, a.log-cta:visited {
    color: #ffffff; }

a.cta-calendar {
  position: fixed;
  bottom: 30px;
  left: 30px;
  color: #898c89;
  font-weight: 600;
  font-size: 18px;
  font-size: 1.125rem; }
  a.cta-calendar:hover, a.cta-calendar:active, a.cta-calendar:focus, a.cta-calendar:visited {
    color: #898c89; }
  a.cta-calendar:before {
    margin-right: 15px; }

.avatar {
  display: block;
  width: 120px;
  height: 120px;
  background: #898c89;
  color: #e4e8e5;
  text-align: center;
  border-radius: 50%;
  font-size: 40px;
  font-size: 2.5rem;
  line-height: 120px;
  line-height: 7.5rem;
  position: relative;
  font-weight: 700; }
  .avatar:before {
    content: '';
    background: #2a7a39;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 50%;
    height: 50%;
    border-radius: 50%;
    z-index: 1; }
  .avatar span {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 2; }

@-webkit-keyframes avatar-swell {
  0% {
    width: 45%;
    height: 45%; }
  50% {
    width: 55%;
    height: 55%; }
  100% {
    width: 45%;
    height: 45%; } }

@-moz-keyframes avatar-swell {
  0% {
    width: 45%;
    height: 45%; }
  50% {
    width: 55%;
    height: 55%; }
  100% {
    width: 45%;
    height: 45%; } }

@-o-keyframes avatar-swell {
  0% {
    width: 45%;
    height: 45%; }
  50% {
    width: 55%;
    height: 55%; }
  100% {
    width: 45%;
    height: 45%; } }

@keyframes avatar-swell {
  0% {
    width: 45%;
    height: 45%; }
  50% {
    width: 55%;
    height: 55%; }
  100% {
    width: 45%;
    height: 45%; } }

h1 {
  font-size: 32px;
  font-size: 2rem;
  line-height: 38px;
  line-height: 2.375rem;
  font-weight: 600;
  margin: 0; }

h2 {
  font-size: 30px;
  font-size: 1.875rem;
  line-height: 36px;
  line-height: 2.25rem;
  font-weight: 600;
  margin: 0; }

h3 {
  font-size: 24px;
  font-size: 1.5rem;
  line-height: 30px;
  line-height: 1.875rem;
  font-weight: 600;
  margin: 0; }

h4 {
  font-size: 20px;
  font-size: 1.25rem;
  line-height: 26px;
  line-height: 1.625rem;
  font-weight: 600;
  margin: 0; }

h5 {
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 24px;
  line-height: 1.5rem;
  font-weight: 600;
  margin: 0; }

h6 {
  font-size: 16px;
  font-size: 1rem;
  line-height: 20px;
  line-height: 1.25rem;
  font-weight: 600;
  margin: 0; }

p {
  font-size: 16px;
  font-size: 1rem;
  line-height: 24px;
  line-height: 1.5rem; }

/***** LISTS *****/
ul {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-size: 1rem;
  line-height: 24px;
  line-height: 1.5rem; }

ol {
  margin: 0;
  padding-left: 17px;
  font-size: 16px;
  font-size: 1rem;
  line-height: 24px;
  line-height: 1.5rem; }

/***** LINKS *****/
a {
  color: #2a7a39; }
  a:hover, a:active, a:focus, a:visited {
    text-decoration: underline;
    color: #2a7a39; }

.hunger-icon-1 {
  width: 40px;
  height: 40px;
  background: #898c89;
  border-radius: 50%;
  display: block;
  position: relative; }
  .hunger-icon-1:before {
    content: '';
    height: 10%;
    width: 10%;
    background: #bd2c1b;
    border-radius: 50%;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 2; }

.hunger-icon-2 {
  width: 40px;
  height: 40px;
  background: #898c89;
  border-radius: 50%;
  display: block;
  position: relative; }
  .hunger-icon-2:before {
    content: '';
    height: 20%;
    width: 20%;
    background: #EA9E19;
    border-radius: 50%;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 2; }

.hunger-icon-3 {
  width: 40px;
  height: 40px;
  background: #898c89;
  border-radius: 50%;
  display: block;
  position: relative; }
  .hunger-icon-3:before {
    content: '';
    height: 30%;
    width: 30%;
    background: #2a7a39;
    border-radius: 50%;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 2; }

.hunger-icon-4 {
  width: 40px;
  height: 40px;
  background: #898c89;
  border-radius: 50%;
  display: block;
  position: relative; }
  .hunger-icon-4:before {
    content: '';
    height: 40%;
    width: 40%;
    background: #2a7a39;
    border-radius: 50%;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 2; }

.hunger-icon-5 {
  width: 40px;
  height: 40px;
  background: #898c89;
  border-radius: 50%;
  display: block;
  position: relative; }
  .hunger-icon-5:before {
    content: '';
    height: 50%;
    width: 50%;
    background: #2a7a39;
    border-radius: 50%;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 2; }

.hunger-icon-6 {
  width: 40px;
  height: 40px;
  background: #898c89;
  border-radius: 50%;
  display: block;
  position: relative; }
  .hunger-icon-6:before {
    content: '';
    height: 60%;
    width: 60%;
    background: #2a7a39;
    border-radius: 50%;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 2; }

.hunger-icon-7 {
  width: 40px;
  height: 40px;
  background: #898c89;
  border-radius: 50%;
  display: block;
  position: relative; }
  .hunger-icon-7:before {
    content: '';
    height: 70%;
    width: 70%;
    background: #2a7a39;
    border-radius: 50%;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 2; }

.hunger-icon-8 {
  width: 40px;
  height: 40px;
  background: #898c89;
  border-radius: 50%;
  display: block;
  position: relative; }
  .hunger-icon-8:before {
    content: '';
    height: 80%;
    width: 80%;
    background: #2a7a39;
    border-radius: 50%;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 2; }

.hunger-icon-9 {
  width: 40px;
  height: 40px;
  background: #898c89;
  border-radius: 50%;
  display: block;
  position: relative; }
  .hunger-icon-9:before {
    content: '';
    height: 90%;
    width: 90%;
    background: #bd2c1b;
    border-radius: 50%;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 2; }

.hunger-icon-10 {
  width: 40px;
  height: 40px;
  background: #898c89;
  border-radius: 50%;
  display: block;
  position: relative; }
  .hunger-icon-10:before {
    content: '';
    height: 100%;
    width: 100%;
    background: #bd2c1b;
    border-radius: 50%;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 2; }

.btn {
  border-radius: 100px;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 20px;
  line-height: 1.25rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  min-width: 175px;
  display: inline-block;
  vertical-align: top;
  padding: 16px 60px;
  text-align: center;
  border: 2px solid #2a7a39;
  font-weight: 600;
  letter-spacing: 2px;
  border-radius: 4px; }
  .btn:hover, .btn:active, .btn:focus, .btn:visited {
    text-decoration: none; }
  .btn.btn-green {
    background-color: #2a7a39;
    color: #ffffff; }
    .btn.btn-green:disabled {
      background-color: #898c89;
      border-color: #898c89;
      color: #ffffff; }
  .btn.btn-orange {
    background-color: #EA9E19;
    color: #ffffff; }
    .btn.btn-orange:disabled {
      background-color: #e4e8e5;
      border-color: #e4e8e5;
      color: #ffffff; }
  .btn.btn-white {
    background-color: #ffffff;
    color: #404240;
    border-color: #404240; }
    .btn.btn-white:hover, .btn.btn-white:active, .btn.btn-white:focus {
      color: #ffffff;
      background-color: #404240;
      border-color: #404240; }

input[type=date]::-webkit-inner-spin-button, input[type=time]::-webkit-inner-spin-button, input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  display: none; }

input[type=date]::-webkit-calendar-picker-indicator {
  color: #2a7a39;
  background: #ffffff;
  cursor: pointer;
  display: block; }

form {
  padding-bottom: 100px;
  border-radius: 4px;
  background: #ffffff;
  box-shadow: 0 0 8px rgba(120, 120, 120, 0.2);
  -webkit-box-shadow: 0 0 8px rgba(120, 120, 120, 0.2);
  -moz-box-shadow: 0 0 8px rgba(120, 120, 120, 0.2);
  padding: 30px; }
  form .form-header {
    text-align: center;
    padding-bottom: 15px; }
    form .form-header h1 {
      font-size: 20px;
      font-size: 1.25rem;
      line-height: 26px;
      line-height: 1.625rem; }
    form .form-header p {
      margin-top: 30px; }
    form .form-header.edit-meal {
      text-align: left;
      display: flex;
      justify-content: space-between; }
      form .form-header.edit-meal h1 {
        flex: 0 1 50%; }
      form .form-header.edit-meal a {
        flex: 0 1 50%;
        display: block;
        color: #bd2c1b;
        text-align: right;
        font-weight: bold;
        cursor: pointer; }
        form .form-header.edit-meal a:hover, form .form-header.edit-meal a:active, form .form-header.edit-meal a:focus, form .form-header.edit-meal a:visited {
          color: #bd2c1b; }
  form .submit-wrapper {
    padding: 60px 0 0 0; }
    form .submit-wrapper .btn {
      width: 100%;
      display: block; }
    form .submit-wrapper p {
      text-align: center;
      margin-top: 30px; }

.form-field-wrapper {
  padding-top: 34px; }

.form-field {
  padding-top: 8px;
  padding-bottom: 26px;
  position: relative;
  /* The container */
  /* Hide the browser's default radio button */
  /* Create a custom radio button */
  /* When the radio button is checked, add a blue background */
  /* Create the indicator (the dot/circle - hidden when not checked) */
  /* Show the indicator (dot/circle) when checked */
  /* Style the indicator (dot/circle) */ }
  .form-field label {
    display: block;
    font-size: 24px;
    font-size: 1.5rem;
    line-height: 34px;
    line-height: 2.125rem;
    transition-duration: .15s;
    transition-property: transform,font-size,color;
    transform: translate3d(0, 0, 0);
    color: #898c89; }
    .form-field label.range {
      transform: none; }
  .form-field input, .form-field textarea {
    opacity: 0;
    font-size: 24px;
    font-size: 1.5rem;
    line-height: 34px;
    line-height: 2.125rem;
    border: none;
    width: 100%;
    background: transparent;
    position: relative;
    z-index: 2;
    padding: 0;
    position: relative;
    top: 36px; }
  .form-field input[type="radio"] {
    opacity: 1; }
  .form-field .hunger-label {
    display: flex;
    justify-content: space-between; }
    .form-field .hunger-label .hunger-description {
      color: #2a7a39;
      font-weight: 700; }
  .form-field hr {
    margin: 0;
    border-top: 1px solid #e4e8e5;
    position: relative;
    overflow: visible; }
    .form-field hr:after {
      background: #2a7a39;
      content: "";
      display: block;
      height: 2px;
      transition-duration: .15s;
      transition-property: width;
      width: 0;
      position: absolute;
      top: -1px;
      left: 0; }
  .form-field .btn-mood-add {
    position: absolute;
    right: 0;
    z-index: 3;
    opacity: 0;
    transition-duration: .15s;
    transition-property: opacity;
    bottom: 54px; }
  .form-field .input-message {
    font-size: 16px;
    font-size: 1rem;
    line-height: 26px;
    line-height: 1.625rem;
    color: #898c89;
    font-style: italic; }
  .form-field input:focus {
    opacity: 1; }
    .form-field input:focus + label {
      transform: translate3d(0, -34px, 0);
      font-size: 20px;
      font-size: 1.25rem;
      color: #2a7a39; }
    .form-field input:focus + label + hr:after {
      width: 100%;
      right: 0; }
    .form-field input:focus + label + hr + .btn-mood-add {
      opacity: 1; }
  .form-field.active label, .form-field.has-value label {
    transform: translate3d(0, -34px, 0);
    font-size: 20px;
    font-size: 1.25rem;
    color: #2a7a39; }
  .form-field.active input, .form-field.active textarea, .form-field.has-value input, .form-field.has-value textarea {
    opacity: 1; }
  .form-field.active hr:after, .form-field.has-value hr:after {
    width: 100%;
    right: 0; }
  .form-field.active .btn-mood-add, .form-field.has-value .btn-mood-add {
    opacity: 1; }
  .form-field.textarea label, .form-field.textarea input:focus + label {
    transform: translate3d(0, -106px, 0); }
  .form-field.invalid {
    padding-bottom: 0; }
    .form-field.invalid label {
      color: #bd2c1b; }
    .form-field.invalid hr {
      border-color: #bd2c1b; }
      .form-field.invalid hr:after {
        background-color: #bd2c1b; }
    .form-field.invalid .input-message {
      color: #bd2c1b;
      font-style: normal; }
  .form-field .radio-container {
    display: block;
    position: relative;
    padding-bottom: 35px;
    min-width: 30px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-align: center; }
  .form-field .radio-container input {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    opacity: 0;
    height: 30px;
    width: 30px;
    cursor: pointer; }
  .form-field .radio-button {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    height: 30px;
    width: 30px;
    background-color: #ccc;
    border-radius: 50%; }
  .form-field .radio-container input:checked ~ .radio-button {
    background-color: #2a7a39; }
  .form-field .radio-button:after {
    content: "";
    position: absolute;
    display: none; }
  .form-field .radio-container input:checked ~ .radio-button:after {
    display: block; }
  .form-field .radio-container .radio-button:after {
    top: 10px;
    left: 10px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: white; }
  .form-field.radio-group {
    padding: 60px 0 40px 0; }
    .form-field.radio-group label {
      transform: none; }
    .form-field.radio-group .radio-button-wrapper {
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-between;
      padding-top: 17px; }

.mood-field-wrapper {
  padding-top: 34px; }

.chip {
  background: #EA9E19;
  padding: 7px 7px 7px 7px;
  color: #ffffff;
  position: relative;
  border-radius: 4px;
  display: inline-block;
  margin-right: 14px;
  margin-bottom: 14px;
  cursor: pointer; }
  .chip:before {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #ffffff;
    display: block; }

form .chip-wrapper {
  padding-bottom: 34px; }

form .chip {
  padding-right: 35px; }

/*** COMPONENTS ***/
#main-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #e4e8e5; }

a.logo {
  display: block;
  width: 40px;
  height: 40px;
  background: #083510;
  border-radius: 50%;
  position: relative;
  margin-top: 10px; }
  a.logo:after {
    content: '';
    background: #2a7a39;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 50%;
    height: 50%;
    border-radius: 50%; }

.main-menu-hamburger-wrapper {
  text-align: right;
  padding-top: 5px; }

.main-menu-hamburger {
  font-size: 50px;
  font-size: 3.125rem;
  line-height: 52px;
  line-height: 3.25rem;
  cursor: pointer;
  color: #898c89;
  display: block; }

.meal-summary-wrapper {
  margin: 0;
  padding-bottom: 100px; }
  .meal-summary-wrapper .row {
    margin-left: 0;
    margin-right: 0; }

.meal-card {
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 75px;
  background: #ffffff;
  border-radius: 4px;
  box-shadow: 0 0 8px rgba(120, 120, 120, 0.2);
  -webkit-box-shadow: 0 0 8px rgba(120, 120, 120, 0.2);
  -moz-box-shadow: 0 0 8px rgba(120, 120, 120, 0.2); }
  .meal-card header {
    background: #083510;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px; }
    .meal-card header h2 {
      flex: 0 1 30%;
      text-align: right;
      font-size: 22px;
      font-size: 1.375rem;
      line-height: 26px;
      line-height: 1.625rem;
      font-weight: 400;
      padding: 12px 0; }
      .meal-card header h2:last-child {
        flex: 0 1 70%;
        padding-right: 30px; }
  .meal-card main {
    font-size: 18px;
    font-size: 1.125rem;
    line-height: 24px;
    line-height: 1.5rem; }
    .meal-card main .meal-card-section {
      display: flex;
      justify-content: space-between;
      padding-top: 10px;
      padding-bottom: 10px; }
      .meal-card main .meal-card-section.chip-wrapper {
        margin-top: 7px; }
        .meal-card main .meal-card-section.chip-wrapper .meal-card-value {
          margin-top: -7px; }
          .meal-card main .meal-card-section.chip-wrapper .meal-card-value .chip {
            cursor: default; }
    .meal-card main .chip {
      padding-right: 7px;
      background: #EA9E19; }
    .meal-card main h3 {
      font-size: 18px;
      font-size: 1.125rem;
      line-height: 24px;
      line-height: 1.5rem;
      flex: 0 1 30%;
      text-align: right; }
    .meal-card main .meal-card-value {
      flex: 0 1 70%;
      padding-left: 30px;
      padding-right: 30px; }
    .meal-card main .hunger-section {
      border-bottom: 1px solid #e4e8e5;
      padding-top: 20px;
      padding-bottom: 20px;
      margin-bottom: 10px;
      font-size: 24px;
      font-size: 1.5rem;
      line-height: 30px;
      line-height: 1.875rem; }
      .meal-card main .hunger-section h3 {
        margin-top: auto;
        margin-bottom: auto; }
      .meal-card main .hunger-section .hunger-start {
        display: inline-block;
        vertical-align: top;
        width: 45%; }
      .meal-card main .hunger-section .hunger-end {
        display: inline-block;
        vertical-align: top;
        width: 45%;
        text-align: right; }
      .meal-card main .hunger-section .hunger-start-index {
        display: inline-block;
        vertical-align: middle;
        font-weight: 600; }
      .meal-card main .hunger-section .hunger-icon {
        display: inline-block;
        vertical-align: middle;
        margin: 0 0 0 10px; }
      .meal-card main .hunger-section .hunger-end-index {
        display: inline-block;
        vertical-align: middle;
        font-weight: 600; }
      .meal-card main .hunger-section .hunger-divider {
        display: inline-block;
        vertical-align: middle;
        width: 10%;
        text-align: center; }
  .meal-card footer {
    margin-left: 0;
    margin-right: 0;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    padding: 15px;
    width: 70%;
    float: right;
    text-align: right; }

.main-nav-drawer-wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  right: -100%;
  top: 0;
  z-index: 3; }
  .main-nav-drawer-wrapper .main-nav-drawer {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #ffffff;
    right: -100%;
    top: 0;
    -webkit-transition: right 250ms ease;
    -moz-transition: right 250ms ease;
    -o-transition: right 250ms ease;
    -ms-transition: right 250ms ease;
    transition: right 250ms ease;
    z-index: 4; }
  .main-nav-drawer-wrapper.active {
    right: 0; }
    .main-nav-drawer-wrapper.active .main-nav-drawer {
      right: 0; }

.nav-drawer-section {
  padding-left: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #e4e8e5; }
  .nav-drawer-section ul li {
    padding-top: 30px;
    font-size: 18px;
    font-size: 1.125rem;
    line-height: 24px;
    line-height: 1.5rem; }
    .nav-drawer-section ul li a {
      cursor: pointer;
      display: block; }
      .nav-drawer-section ul li a span {
        display: inline-block;
        vertical-align: middle; }
        .nav-drawer-section ul li a span:before {
          font-size: 30px;
          font-size: 1.875rem;
          margin-right: 15px;
          display: inline-block;
          vertical-align: middle; }
      .nav-drawer-section ul li a.ion-android-close:before {
        font-size: 27px;
        font-size: 1.6875rem;
        margin-left: 5px; }

.calendar-wrapper {
  height: 100%; }

.calendar {
  height: 100%;
  max-height: 756px;
  display: flex;
  flex-direction: column;
  align-content: stretch;
  background: #ffffff;
  border-radius: 4px;
  box-shadow: 0 0 8px rgba(120, 120, 120, 0.2);
  -webkit-box-shadow: 0 0 8px rgba(120, 120, 120, 0.2);
  -moz-box-shadow: 0 0 8px rgba(120, 120, 120, 0.2); }
  .calendar.rows-7 .calendar-row {
    height: 16%; }
  .calendar.rows-6 .calendar-row {
    height: 19.2%; }
  .calendar.rows-5 .calendar-row {
    height: 24%; }
  .calendar .calendar-row {
    border-bottom: 1px solid #e4e8e5; }
    .calendar .calendar-row.calendar-header {
      height: 4%;
      border-bottom: none;
      font-weight: 700; }
      .calendar .calendar-row.calendar-header span {
        display: none; }
      .calendar .calendar-row.calendar-header .calendar-day {
        padding-bottom: 0; }
    .calendar .calendar-row .calendar-day {
      height: 100%;
      width: 14.285714285714%;
      float: left;
      padding: 10px;
      cursor: pointer;
      color: #404240; }
      .calendar .calendar-row .calendar-day:hover, .calendar .calendar-row .calendar-day:active, .calendar .calendar-row .calendar-day:focus, .calendar .calendar-row .calendar-day:visited {
        color: #404240;
        text-decoration: none; }
      .calendar .calendar-row .calendar-day.inactive {
        opacity: 0.5; }
      .calendar .calendar-row .calendar-day .calendar-date {
        font-size: 14px;
        padding-left: 4px; }
      .calendar .calendar-row .calendar-day .current .calendar-date {
        padding-left: 0;
        padding-top: 1px;
        background: #EA9E19;
        border-radius: 50%;
        color: #ffffff;
        display: block;
        width: 22px;
        text-align: center;
        margin-top: -1px;
        margin-left: -2px; }
      .calendar .calendar-row .calendar-day .calendar-meal {
        background: #2a7a39;
        border-radius: 4px;
        color: #ffffff;
        margin-top: 3px;
        display: flex;
        justify-content: space-between;
        padding: 1px 5px; }

.profile .profile-header {
  padding-top: 15px;
  position: relative;
  padding-bottom: 15px; }
  .profile .profile-header .avatar {
    display: block;
    margin: 0 auto; }
  .profile .profile-header h1 {
    line-height: 30px;
    line-height: 1.875rem;
    font-size: 24px;
    font-size: 1.5rem;
    text-align: center;
    font-weight: 600;
    padding: 15px 0 30px 0;
    color: #404240;
    text-transform: uppercase; }
  .profile .profile-header .settings-link {
    font-size: 26px;
    font-size: 1.625rem;
    display: block;
    position: absolute;
    top: 12px;
    right: 0; }
    .profile .profile-header .settings-link:before {
      display: block; }

.profile .streak {
  text-align: center;
  padding: 20px;
  background: #ffffff;
  box-shadow: 0 0 8px rgba(120, 120, 120, 0.2);
  -webkit-box-shadow: 0 0 8px rgba(120, 120, 120, 0.2);
  -moz-box-shadow: 0 0 8px rgba(120, 120, 120, 0.2); }
  .profile .streak h2 {
    line-height: 18px;
    line-height: 1.125rem;
    font-size: 16px;
    font-size: 1rem;
    color: #898c89;
    max-width: 150px;
    margin: 0 auto; }
  .profile .streak .streak-number {
    line-height: 50px;
    line-height: 3.125rem;
    font-size: 38px;
    font-size: 2.375rem;
    font-weight: 700; }
    .profile .streak .streak-number span {
      font-size: 18px;
      font-size: 1.125rem;
      font-weight: 400; }

.profile .stat-row {
  padding: 30px 15px; }
  .profile .stat-row .stat {
    display: flex; }
  .profile .stat-row h2 {
    padding-bottom: 7px;
    font-size: 16px;
    font-size: 1rem;
    line-height: 24px;
    line-height: 1.5rem; }
  .profile .stat-row h3 {
    line-height: 56px;
    line-height: 3.5rem;
    font-size: 48px;
    font-size: 3rem;
    font-weight: 700; }
    .profile .stat-row h3 span {
      font-size: 18px;
      font-size: 1.125rem;
      font-weight: 400; }
  .profile .stat-row .hunger-icon {
    padding-top: 6px;
    padding-left: 13px; }
  .profile .stat-row .chip-wrapper {
    padding-top: 9px; }

.stat-tabber {
  text-align: center;
  padding-top: 15px;
  margin-bottom: 40px; }
  .stat-tabber .tab {
    display: inline-block;
    vertical-align: bottom;
    width: 50%;
    border-bottom: 1px solid #898c89;
    padding-bottom: 1px;
    color: #898c89;
    font-weight: 400;
    cursor: pointer; }
    .stat-tabber .tab.active {
      border-bottom: 2px solid #2a7a39;
      padding-bottom: 0;
      color: #2a7a39;
      font-weight: 600; }
    .stat-tabber .tab .tab-title {
      padding: 45px 0 7px;
      font-size: 20px;
      font-size: 1.25rem;
      line-height: 24px;
      line-height: 1.5rem;
      text-transform: uppercase; }

.tab-content {
  display: none; }
  .tab-content.active {
    display: block; }
